<!DOCTYPE html>
<html>
<head>
  <title>FollowMeServer</title>
  <link rel="stylesheet" type="text/css" href="http://api.amap.com/Public/css/demo.Default.css" />
  <script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=6d60d7093fa842e549926487bc6017dd"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
